header {
  background-color: transparent;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  & h1 {
    padding: 0;
    height: 70px;
    display: flex;
  }
  & .nav-header a {
    padding: 24px 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--body-highlight-font-weight);
    color: var(--body-color);
  }
}
