@mixin screen_tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin screen_mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

.header-container {
  background-color: var(--background-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  & img {
    padding: 0 0 0 12px;
    width: 130px;
    @include screen_tablet {
      width: 120px;
    }
  }
  .nav-header {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    margin-right: 12px;
    @include screen_mobile {
      justify-content: end;
    }
    & a:hover {
      background-color: rgb(32, 32, 32);
    }
    & a[aria-current="page"] {
      font-weight: 400;
      border-bottom: 2px solid white;
    }
    & a {
      font-size: 1rem;
      font-weight: 300;
      min-width: 70px;
      padding: 21px 18px;
      text-decoration: none;
      color: var(--body-color);
      @include screen_mobile {
        padding: 12px;
      }
    }
  }
}
